<h1><%= action_message %></h1>

<%= form_with(model: [ :admins_backoffice, @question ], local: true) do |form| %>
    
    <% if @question.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <ul>
                <% @question.errors.full_messages.each do |message|%>
                    <li><%= message %></li>
                <% end %>
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>

    <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control", placeholder: 'Informe a descrição...' %>
    </div>

    <div class="form-group">
        <%= form.label :description %>
        <%= form.collection_select(:subject_id, @subjects, :id, :description, {}, { class: "form-control", placeholder: 'Selecione um assunto'}) %>
    </div>

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar
    </button>
    <%= link_to admins_backoffice_questions_path, class: 'btn btn-danger' do %>
        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
    <% end %>
<% end %>