<main class="form-signin text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <span class="text-primary">
      <i class="fas fa-user-lock fa-2x"></i>
    </span>
    <h1 class="text-primary h3 mb-3 fw-normal">Autenticação</h1>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-1", placeholder: "Email address" %>
    
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>

    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %> Lembre-me
      </label>
    </div>

    <%= f.submit "Enviar", class: "w-100 btn btn-lg btn-primary" %>

    <%= render "admins/shared/links" %>
  <% end %>
</main>
