<!DOCTYPE html>
<html>
  <head>
    <title>TenderQuestions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <p>layout site</p>
    <%= yield %>
  </body>
</html>
